@use '../1-abstracts/vars';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

html {
    font-size: 10px;
}

body {
	font-size: 1rem;
	scroll-behavior: smooth;
	font-family: vars.$mainFont;
    -webkit-font-smoothing: antialiased;
	background: vars.$background-color;
	color: vars.$mainFontColor;
}

.wrapper {
	min-height: 100vh;
}

h1, h2, h3 {
	font-family: vars.$headingFonts;
	font-weight: vars.$headingFontsWeight;
}

p {
	font-family: vars.$mainFont;
	font-size: 1.8rem;
	font-weight: 400;
}