@use '../1-abstracts/vars';
.btn {
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 2px; 
    text-transform: uppercase;
    padding: 14px 20px;
    border-radius: 4px 0 0 4px;
    background-color: vars.$accent-color;
}