  
/* Vars:
  ========================================================================== */

// Font
$mainFont                : 'Mulish',sans-serif;
$headingFonts            : 'Oswald', sans-serif;

// Font weight
$headingFontsWeight      : 600;

/*
  All colors taken from:
  https://github.com/vedees/uimini
*/

// Main color
$mainFontColor           : #fff;
$background-color        : #0b0c2a;
$accent-color            : #e53637;